html{
	box-sizing: border-box;
	scroll-behavior: smooth;
	background-color: #1F2937;
}

*{
	padding: 0;
	margin: 0;
}

body {
	color: #F9FAFB;
	font-family: -apple-system, BlinkMacSystemFont, 'Quicksand', 'Segoe UI', 'Roboto', 'Oxygen',
	'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
	sans-serif;
	font-weight: 500;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

input:focus-within{
	outline: none;
	border-color: rgb(199, 210, 254, 1);
	animation: none;
}

#navLogo{
	font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
	font-size: 32px;
}

#homeLogo{
	font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
	font-size: 88px;
}

@media (max-width: 600px){
	#homeLogo{
		font-size: 64px;
	}
}

#loginBtn:hover > svg{
	fill: #1F2937;
}

#backArrow:hover{
	transition: all 0.1s ease-in-out;
	color: rgb(199, 210, 254, 1);
}

@keyframes loading {
	0%{
		transform: rotate(0deg);
	}

	50%{
		transform: rotate(180deg);
	}

	100%{
		transform: rotate(360deg);
	}
}